{% extends "base.html" %}
{% block main_content %}


<h2>Login</h2>
<form method="POST" action="" id="login"  novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.user_id.label }}<br>
        {{ form.user_id(size=32) }}<br>
        {% for error in form.user_id.errors %}
        {{ error }}<br>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        {{ error }}<br>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}